<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!--FontAwesome CDN-->
    <script
            src="https://kit.fontawesome.com/154244f28a.js"
            crossorigin="anonymous"
    ></script>

    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
            integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
            crossorigin="anonymous"
    />

    <!--Chartjs CDN-->
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.0.1/chart.min.js"
            integrity="sha512-tQYZBKe34uzoeOjY9jr3MX7R/mo7n25vnqbnrkskGr4D6YOoPYSpyafUAzQVjV6xAozAqUFIEFsCO4z8mnVBXA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    ></script>

    <link rel="stylesheet" href="/css/profile.css">

    <title>Profile Page</title>
</head>
<body>
<!--Navbar-->
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <div class="app-title">
            <h2>RapidMart</h2>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav" id="navdata">
                <li class="nav-item active">
                    <a class="nav-link" href="/adminhome"
                    ><i class="fa-solid fa-house"></i> Home<span class="sr-only">(current)</span></a
                    >
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/profile"
                    ><i class="fa-solid fa-id-card"></i> Admin Profile <span class="sr-only">(current)</span></a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--EndNavbar-->


<!--Tables-->
<div class="container">
    <div class="row my-4">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-white">
                    Profile Page
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <span class="h4">Admin Profile Information</span><a class="btn btn-info btn-sm float-right"
                                                                                href="">Edit</a>
                            <hr>
                            <div class="dd">
                                <table class="table bg-white table-borderless">
                                    <tbody>
                                    <tr>
                                        <th scope="row">Name</th>
                                        <td>Johnson</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Email</th>
                                        <td>arsbusiness@gmail.com</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Phone</th>
                                        <td>8074182915</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Address</th>
                                        <td>Los Angeles</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <img src="https://thumbs.dreamstime.com/b/photo-document-passport-id-mature-caucasian-man-suit-white-shirt-126121929.jpg" alt="" class="dp">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Tables-->

</body>
</html>
